.header {
  background-color: #496A81;
}

.main {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background-color: #6e98b6;
}

.logo {
  float: left;
  min-height: 60px;
  max-height: 78px;
  /* this didnt work, it still takes up the left side of the menu-nav when the menu button is clicked */
  max-width: 60px;
  width: auto;
  padding: 0px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.menu-btn {
  min-height: 78px;
  max-width: 100px;
  width: auto;
  padding: 10px;
  border: 5px;
  color: white;
  background-color: #2B3A67;
  display: none;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
    background: linear-gradient(to right, #2B3A67, #496A81); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 70px;
}

.home-image {
  max-width: 350px;
  width: 100%;
  height: auto;
  border: 12px solid rgba(73, 106, 129, 0.7);
  border-radius: 15px;
  overflow: hidden;
}

.home-image:hover {
  transform: scale(1.15);
  transition: all 0.3s ease;
}

.home-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
}

.home-video {
  max-width: 700px;
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 10px solid rgba(73, 106, 129, 0.7);
  border-radius: 12px;
  margin-top: 50px;
}


/* michelles code with some small changes (i always write at the end of the paragraphs) */

.nav {
  overflow: visible;
  background-color: #496A81;
  display: flow-root;
  /* copilot added this because for some reason the background color disappeared and i dont know why */
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  min-height: 50px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  text-decoration: none;
}

/* i removed this cause it made the whole nav the color when i clicked the menu and it wasnt necessary
.active {
  background-color: #66999B; 
  color: white;
} */

.nav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav a:hover,
.dropdown:hover,
.dropbtn {
  background-color: #66999B;
  color: white;
}

.dropdown-content a:hover {
  background-color: #66999B;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }

  /* when nav is responsive allow it to grow and show stacked links */
  .nav.responsive {
    overflow: visible;
    max-height: none;
    height: auto;
  }

  /* keep the menu button fixed at the top-right so it doesn't shift when links stack */
  .nav.responsive .btn-container {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
  }

  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .nav.responsive .dropdown {
    float: none;
  }

  .nav.responsive .dropdown-content {
    position: relative;
  }

  .nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  /* hide other links */
  .nav:not(.responsive) a:not(:first-child) {
    display: none;
  }

  .nav a.icon {
    float: right;
    display: block;
    font-size: 15px;
  }

  /* added this */
  .menu-btn {
    display: block;
    min-height: 78px;
    height: auto;
  }
}

/* fonts */

/*
.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.source-sans-3-<uniquifier> {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/